
:root {
    --primary-color: #FBBF24;
}

.navbar {
    background-color: var(--primary-color);
    height: 4.5rem;
    font-size: 1.3rem;
    position: relative;
}

.logo {
    height: 3rem;
    width: 11rem;
}
.jumbContainer {
    height: fit-content;

.navbar {
  background-color: #f7dd0e;
  height: 4.5rem;
  font-size: 1.3rem;
}
.jumbContainer {
  height: fit-content;

}

.jumbImg {
    filter: blur(2px);
    background-image: url("https://cdn.pixabay.com/photo/2016/02/03/18/57/students-1177716_960_720.jpg");
    width: 100%;
    height: 40rem;
}


.jumbTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 4rem;

.jumbTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 4rem;

}

.jumbTxt .heading1 {
    font-weight: 700;
    font-size: 7rem;
    /* z-index: 2; */
}

  font-weight: 700;
  font-size: 7rem;


.form-btn {
    background-color: var(--primary-color);
    /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font-size: 25px;
    margin: 5rem 8rem 0rem 8vw;
    width: 80vw;
    height: 20vh;
}


.form-btn:hover {
    background-color: black;
    transition: 0.8s;
    color: var(--primary-color);
}

/* ----MATHS----- */
#row1-cards {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

